body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.meta {
  display: block;
  margin: 5px 5px 5px 0;
  width: 20px;
}

.item:hover .actions {
  display: inline-block;
}

.actions {
  display: none;
}

.action {
  display: none;
  margin: 0 3px;
  cursor: pointer;
  opacity: .2;
}

.action:hover {
  opacity: 1;
}
